/* pre {
	border-radius: 5px;
} */

html {
	scroll-behavior: smooth;
	overflow-y: scroll;
}

* {
	font-variant-ligatures: none;
}

@font-face {
	font-family: "MessinaSans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("fonts/MessinaSans-Regular.woff2") format("woff2");
}
@font-face {
	font-family: "MessinaSans";
	font-style: bold;
	font-weight: 700;
	font-display: swap;
	src: url("fonts/MessinaSans-Bold.woff2") format("woff2");
}
@font-face {
	font-family: "MessinaSans";
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url("fonts/MessinaSans-RegularItalic.woff2") format("woff2");
}
@font-face {
	font-family: "MessinaSans";
	font-style: light;
	font-weight: 200;
	font-display: swap;
	src: url("fonts/MessinaSans-Light.woff2") format("woff2");
}
@font-face {
	font-family: "MessinaSans";
	font-style: extrabold;
	font-weight: 800;
	font-display: swap;
	src: url("fonts/MessinaSans-Black.woff2") format("woff2");
}

/* html.dark {
  background-color: #282B30;
} */

/* ul {
  list-style-type: disc;
  padding-left: 0.25rem;
  margin-left: 0.75rem;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
} */

.katex-display > .katex {
	display: inline-block;
	white-space: nowrap;
	max-width: 100%;
	/* overflow-x: scroll; */
	text-align: initial;
}

.katex {
	font: normal 1.21em KaTeX_Main, Times New Roman, serif;
	font-weight: 500;
	line-height: 1.2;
	white-space: normal;
	text-indent: 0;
}

.katex [class*="dark"] {
	color: white;
}

.katex-html {
	white-space: nowrap;
}

a,
button {
	outline: 0 !important;
}

textarea {
	overflow: auto !important;
	height: auto;
	white-space: normal;
}

/* p {
  margin-top: 5px
} */
