@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Eurostile";
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: local("Eurostile"),
			url("https://fonts.cdnfonts.com/s/13662/eurostile.woff") format("woff");
	}
}
/* } */
/* @layer base { */
p {
	@apply dark:text-white;
}

li {
	@apply dark:text-white;
}

#__next {
	@apply dark:bg-gray-900;
}

.katex {
	@apply dark:text-white;
}

.toc {
	@apply lg:absolute flex flex-wrap w-52 -left-60 top-0;
}

.frac-line {
	@apply border-black dark:border-white;
}

.remark-code-title {
	@apply px-4 py-3 text-sm font-mono text-gray-200 bg-gray-700 rounded-t;
}

.remark-code-title + pre {
	@apply mt-0 rounded-t-none;
}
/* } */
